<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rick.db.generator.mapper.SysDeptEmpMapper">
  <resultMap id="BaseResultMap" type="com.rick.db.generator.domain.SysDeptEmp">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="employee_id" jdbcType="BIGINT" property="employeeId" />
    <id column="department_id" jdbcType="BIGINT" property="departmentId" />
  </resultMap>
</mapper>